# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm settings
.idea/

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/
*.sqlite3

# Personal configs (optional)
*.env
*.bak
*.swp
